<nav id="navbar">
    <p class="welcome">Project Management Dashboard</p>
    <!-- <img src="../partials/logo.png" alt="Logo" class="logo" /> -->
    <p style="font-size: 60px;">&spades;</p>
    <form class="login">
        <a href="/signOut" class="tag login__btn" id="SignedOut">Sign Out</a>
    </form>
</nav>