<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    <!-- NAV BAR -->
    <%- include("../partials/logInNav.ejs") %>
        
    <div class="not-found content">
        <h2>404 Error: Page Not Found</h2>
    </div>

</body>
</html>